* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  :root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;
  }
  body {
    font-family: var(--font-roboto);
    background-color: #212426;
    background-image: URL('./assets/Batman2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    overflow-y: auto;

  }
  
  .imagecv {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .imagecv img {
    border: 3px solid rgb(51, 51, 51);
    border-radius: 15px;
    cursor: pointer;
  
  }
  
  .imagecv img:hover {
    border: 3px solid rgb(51, 51, 51);
    border-radius: 15px;
    transform: scale(1.10, 1.10);
    opacity: 0.9;
  }
  
  .NavBar {
    display:flex;
    width: 100%;
    height: 2em;
    background-color: rgba(0, 0, 0, 0.527);
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .NavBar ul {
    font-size: larger;
    font-weight: bold;
    font-family: Batman;
    color: rgb(229, 255, 0);
    display: flex;
    list-style: none;
    justify-content: center;
  }
  
  .NavBar ul li {
    margin: 0 10em;
    cursor: pointer;
  }
  
  .NavBar ul li:hover {
    text-shadow: red 2px 2px;
  }
  
  .minwidth {
    min-height: 98vh;
  }
  
  .app {
    padding: 4rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    font-size: 4rem;
    font-family: Batman;
    letter-spacing: 0.9px;
    background: linear-gradient(90deg,
        rgb(172, 3, 3) 0%,
        rgba(249, 211, 180, 0) 130%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
  }
  
  .search {
    width: 71%;
    margin: 4rem 0 2rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 1.5rem 1.75rem;
    border-radius: 3rem;
    background: #1f2123;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  }
  
  .search input {
    flex: 1;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    padding-right: 1rem;
  
    outline: none;
    color: #d5e400;
    background: #1f2123;
  }
  
  .search input::placeholder {
    color: rgba(255, 255, 0, 0.788);
  }
  
  .search img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  
  /* .search button {
    padding: 20px 40px;
    border-radius: 0.5rem;
    margin-left: 15px;
    color: #a1a1a1;
    font-family: var(--font-raleway);
    font-weight: 900;
    letter-spacing: 0.75px;
    font-size: 1.25rem;
    cursor: pointer;
  
    background: #1f2123;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  } */
  
  .empty {
    width: 100%;
    margin-top: 3rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .empty h2 {
    font-size: 1.25rem;
    color: #f9d3b4;
    font-family: var(--font-raleway);
  }
  
  .container {
    width: 100%;
    margin-top: 3rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .movie {
    width: 400px;
    height: 330px;
    margin: 1.5rem;
  
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
  
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  }
  
  .movie div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 1px;
    color: rgb(230, 2, 2);
  }
  
  .movie:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.20, 1.20);
  }
  
  .movie div:nth-of-type(2) {
    width: 100%;
    height: 100%;
  }
  
  .movie div:nth-of-type(2) img {
    height: 100%;
    width: 100%;
  }
  
  .movie div:nth-of-type(3) {
    z-index: 2;
    background-color: #343739;
    padding: 16px 24px 24px 24px;
  
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .movie div:nth-of-type(3) span {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #f0f0f0;
  }
  
  .movie div:nth-of-type(3) h3 {
    margin-top: 5px;
    font-family: "Roboto Slab", serif;
    color: rgb(201, 51, 51);
    text-shadow: black 2px 1px;
  }
  
  .movie:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.9;
  }
  
  .movie:hover div:nth-of-type(3) {
    background-color: transparent;
  }
  
  .movie:hover div:nth-of-type(3) span {
    opacity: 0;
  }
  
  .movie:hover div:nth-of-type(1) {
    opacity: 1;
  }
  .movie:hover div:nth-of-type(3) a {
    opacity: 1;
  }
  .movie a:hover{
    text-shadow: rgb(255, 0, 0) 1px 0 10px;}
  .movie a {
    text-decoration: none;
    color: yellow;
    text-shadow: black 1px 1px 2px;
    font-weight: bolder;
    opacity: 0;
  }
  .hidden {
    display: none;
  }
  
  footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0.5em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Batman;
    color: rgb(229, 255, 0);
  }
  
  footer p {
    padding-top: 15px;
  }
  
  /* LAAAAAAAAAA C EST LE CONTACT FOOORM */
  .formularito {
    padding-top: 8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formularito label {
    font-size: 28px;
    color: yellow;
  }
  
  .formularito input {
    width: 15em;
    height: 2em;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 5px;
  
  }
  
  .formularito h2 {
    color: yellow;
    text-shadow: red 3px 3px;
    font-size: 44px;
    font-family: Batman;
    padding-bottom: 2em;
  }
  #email{
    width: 25em;
  }
  .formularito textarea{
    font-size: large;
    width: 50em;
    height: 12em;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 5px;
  margin-bottom: 15px;
  }
  #pointclick{
    cursor:pointer;
  }
  @media screen and (max-width: 600px) {
  
    .NavBar ul {
      display: block;
      padding: 0;
      padding-top: 10px;
    }
  
    .NavBar ul li {
      height: 2em;
    }
  
    h1 {
      text-align: center;
    }
  
    .app {
      padding: 4rem 2rem;
    }
  
    .search {
      padding: 1rem 1.75rem;
      width: 100%;
    }
  
    .search input {
      font-size: 0.9rem;
    }
  
    .search img {
      width: 20px;
      height: 20px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .app {
      padding: 4rem 1rem;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    .container {
      margin-top: 2rem;
    }
  
    .movie {
      width: "100%";
      margin: 1rem;
    }
  }