@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

@font-face {
  font-family: HACKERZ;
  src: url("././assets/FiraCode-VariableFont_wght.ttf");
}

@font-face {
  font-family: Batman;
  src: url("./assets/BatmanForeverAlternate\ 400.ttf");
}

@font-face {
  font-family: Superman;
  src: url("./assets/CCUpUpAndAway.otf");
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.Intro {
  position: aboslute;
  top: 0;
  left: 0;
  height: 100vh;
  /* background-image: URL("https://wallpapercave.com/wp/wp6024729.jpg"); */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

#call {
  animation: 1s infinite alternate ease-out breathing-color--dark;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 20px;
}

.moi {
  margin: 3em;
  color: white;
  font-weight: bolder;
  text-shadow: black 1px 1px 2px;
  width: 100;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.5);
}

.moi h3 {

  font: 24px;
  color: red;
  font-family: Batman;
}

.moi p {
  display: flex;
  text-align: center;
  font-size: 16px;
  color: white;
}

.lie {
  padding: 0 4px;
}

.lie.hiddenz {
  /* visibility: hidden; */
  /* display: none; */
  background-color: rgb(31, 30, 30);
  margin: 2px 1px;
  color: rgb(31, 30, 30);
  text-shadow: none;
}

.boutbout {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.boutbout.hiddenz {
  display: none;
}
.underline{
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}
.underlineb{
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: blue;
}
.quote {
  position: absolute;
  top: 35%;
  left: 4%;
  color: white;
  font-size: 30px;
}

.ecran h2 {

  color: red;
  font-family: Batman;
  font-size: 30px;
}

#q1 {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

#q2 {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 3.5s;
  animation-fill-mode: backwards;
}

#q3 {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 5.5s;
  animation-fill-mode: backwards;
}

#q4 {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 15.5s;
  animation-fill-mode: backwards;
}

#q5 {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 26.5s;
  animation-fill-mode: backwards;
}

#q6 {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 30.5s;
  animation-fill-mode: backwards;
}

#beam {
  /* visibility: hidden;   */
  position: absolute;
  top: 32%;
  left: 43%;
  transform: rotate(70deg);
  animation-duration: 1.5s;
  animation-name: animate-fade;
  animation-delay: 6.0s;
  animation-fill-mode: backwards;
  pointer-events: none;

}
#contactezmoi{
  cursor: pointer;
  text-decoration: underline;
  font-weight: 1300;
}
#batlogo{
  position: absolute;
  width: 100vh;
  height: auto;
  z-index: 10000000000000;
  animation-name: rotating;
  animation-duration: 1.5s;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);

}
.venjens{
  position: absolute;
  top: 25%;
  left: 65%;
  font-size: 16px;
  animation-duration: 1.6s;
  animation-name: animate-fade;
  color: red;
  text-shadow: black 1px 1px;
  font-family: Batman;
  /* animation: rotating 40s linear infinite; */
  animation-delay: 6.2s;
  animation-fill-mode: backwards;
}
#ogbat {
  pointer-events: none;

  position: absolute;
  top: 15%;
  left: 48%;
  animation-duration: 1.6s;
  animation-name: animate-fade;
  /* animation: rotating 40s linear infinite; */
  animation-delay: 6.2s;
  animation-fill-mode: backwards;
  opacity: 0.7;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
  background-image: URL("https://wallpapercave.com/wp/wp6024729.jpg");
  /* background-image: URL('./assets/Batman2.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: fit-content;
  min-width: fit-content;
  overflow-y: hidden;

}

.Player {
  font-size: 20px;
  text-align: center;
  width: 15em;
  background-color: rgba(128, 128, 128, 0.349);
  border-radius: 15px;
  position: absolute;
  color: green;
  top: -3em;
  left: 0;
}

.Player i:hover {
  text-shadow: black 1px 1px 4px;
}
.success{
  display: flex;
  justify-content: center;
  text-align: center;
font-size: 22px;
color:yellow;
font-family: superman;
}

#money{
  display: flex;
  justify-content: center;
  text-align: center;
font-size: 22px;
color:red;
font-family: Batman;
}
.skip-button {
  position: absolute;
  bottom: 2vh;
  right: 1vh;
  background-color: black;
  font-size: 22px;
  /* background-color: #0081b000; */
  border-radius: 10px;
  border: none;
  animation: rainbow 5s infinite;
  cursor: pointer;
}

.Player i {
  margin: 0 0.5em;
  text-align: center;
}

.fababy {
  cursor: pointer;

}

.music-info {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 14px;
}

.imagecv {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.imagecv img {
  border: 3px solid rgb(51, 51, 51);
  border-radius: 15px;
  cursor: pointer;

}

.imagecv img:hover {
  border: 3px solid rgb(51, 51, 51);
  border-radius: 15px;
  transform: scale(1.10, 1.10);
  opacity: 0.9;
}

.NavBar {
  display: flex;
  min-width: 100%;
  /* width: 100%; */
  height: 2em;
  background-color: rgba(0, 0, 0, 0.527);
  text-align: center;
  align-items: center;
  justify-content: center;
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 9s;
  animation-fill-mode: backwards;
}

.NavBar ul {
  font-size: larger;
  font-weight: bold;
  font-family: Batman;
  color: rgb(229, 255, 0);
  display: flex;
  list-style: none;
  justify-content: center;
}

.NavBar ul li {
  margin: 0 10em;
  cursor: pointer;
}

.NavBar ul li:hover {
  text-shadow: red 2px 2px;
}

.minwidth {
  min-height: 98vh;
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  font-family: Batman;
  letter-spacing: 0.9px;
  background: linear-gradient(90deg,
      rgb(172, 3, 3) 0%,
      rgba(249, 211, 180, 0) 130%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #d5e400;
  background: #1f2123;
}

.search input::placeholder {
  color: rgba(255, 255, 0, 0.788);
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* .search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;

  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
} */

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 400px;
  height: 330px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  font-weight: bold;
  text-shadow: rgb(255, 255, 255) 1px 1px;
  color: rgb(230, 2, 2);
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.20, 1.20);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: rgb(201, 51, 51);
  text-shadow: black 2px 1px;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.9;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(3) span {
  opacity: 0;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

.movie:hover div:nth-of-type(3) a {
  opacity: 1;
}

.movie a:hover {
  text-shadow: rgb(255, 0, 0) 1px 0 10px;
}

.movie a {
  text-decoration: none;
  color: yellow;
  text-shadow: black 1px 1px 2px;
  font-weight: bolder;
  opacity: 0;
}

.hidden {
  display: none;
}

footer {
  position: relative;
  bottom: 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0.5em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.527);
}

footer p {
  padding-top: 15px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-family: Batman;
  color: rgb(229, 255, 0);
}

/* LAAAAAAAAAA C EST LE CONTACT FOOORM */
.formularito {
  padding-top: 8em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formularito label {
  font-size: 28px;
  color: yellow;
}

.formularito input {
  width: 15em;
  height: 2em;
  border: 2px solid rgb(75, 75, 75);
  border-radius: 5px;

}

.formularito h2 {
  color: yellow;
  text-shadow: red 3px 3px;
  font-size: 32px;
  font-family: Batman;
  padding-bottom: 2em;
}

#name {
  width: 25em;
  font-size: 16px;
  background-color: black;
  color: #2AFEB7;
  font-family: HACKERZ;
}

#email {
  width: 25em;
  font-size: 16px;
  background-color: black;
  color: #2AFEB7;
  font-family: HACKERZ;


}

.formularito textarea {
  width: 25em;
  height: 7em;
  border: 2px solid rgb(75, 75, 75);
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: black;
  color: #2AFEB7;
  font-family: HACKERZ;
}

.formularito textarea:focus {
  border-color: black;
}

#pointclick {
  background-color: black;
  color: #2AFEB7;
  cursor: pointer;
}

.Services {
  margin-top: 10em;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 251, 0, 0.397);
  border-radius: 15px;
  border: solid 2px black;
  font-size: larger;
  margin: 1em 15%;
  margin-top: 4em;
  padding: 0.5em;
}

.Services h2 {
  font-family: Superman;
  color: black;
}

.servicesp {
  text-align: justify;
  font-size: 18px;
  font-weight: bold;
}

.rainbow-text-loop {
  font-size: 1.5rem;
  width: 100%;
  display: inline-block;
  text-align: end;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px #000000;
  animation: rainbow 5s infinite;
}

.downloadex {
  margin: 1em 1em;
  font-size: 40px;
  color: yellow;
}

.downloadex:hover {
  margin: 0.5em 0.5em;
  text-shadow: red 4px 4px;
  font-size: 60px;

}

.music-info {
  overflow: hidden;
  white-space: nowrap;
}

.music-info marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes rainbow {
  0% {
    color: orange;
  }

  10% {
    color: purple;
  }

  20% {
    color: red;
  }

  30% {
    color: CadetBlue;
  }

  40% {
    color: yellow;
  }

  50% {
    color: coral;
  }

  60% {
    color: green;
  }

  70% {
    color: cyan;
  }

  80% {
    color: DeepPink;
  }

  90% {
    color: DodgerBlue;
  }
  
  100% {
    color: orange;
  }
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}
@media screen and (max-width: 1200px) {
  footer{
    display:none
  }
  .venjens{
    display:none;
  }
  #beam{
    display: none;
  }
}
@media screen and (max-width: 600px) {
#batlogo{
  width: 100%;
  height: auto;
  top: 30%;
  left: 5%;
}

.body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: initial; 
}
body{
  background-image: none;
}
  .downloadex{
    position: relative;
    right: 2em;
    top: 2em;
  }

  .NavBar {
    height: 8em;
    width: 10px;
    
  }

  .NavBar ul {
    display: block;
    padding: 0;
    padding-top: 10px;
  }
  

  .imagecv {
    height: 100%;
  }

  .imagecv img {
    margin: 0;
    padding: 0;
    margin-top: 10em;
    height: 60vh;
    width: auto;
  }

  .NavBar ul li {
    height: 2em;
  }

  h1 {
    text-align: center;
  }

  .app {
    padding: 4rem 0;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 70%;
  }
  #ogbat{
    top: 7%;
    left: 4em;
    z-index: -10;
  }
  .moi{
    display: none;
  }
  .boutbout{
    display: none;
  }
  .skip-button{
    margin-right: 25px;
  }
  .search input {
    font-size: 0.9rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
  footer{
    display:none;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }
  
  .movie {
    width: "100%";
    margin: 1rem;
  }
}

@media screen and (min-width: 2031px) {
  #beam {
    /* visibility: hidden;   */
    position: absolute;
    top: 40%;
    left: 45%;

  }

  #ogbat {
    position: absolute;
    top: 23%;
    left: 50%;
    animation-duration: 1.6s;
  }
}

@keyframes breathing-color--dark {
  from {
    color: rgb(255, 255, 255);
  }

  to {
    color: yellow;
  }
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animate-fade-call {
  0% {
    opacity: 0;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
  }

  100% {
    opacity: 1;

  }

}



@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}
  @keyframes rotating {
    0% {
      transform: rotate(0deg) scale(0.2);
    }
  
    50% {
      transform: rotate(720deg) scale(1.5);
    }
    100%{
      transform: rotate(1560deg) scale(0.1);
  
    }
  }
  