body {
    font-family: var(--font-roboto);
    background-color: #212426;
    background-image: URL('./assets/Batman2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: auto;

    min-height: 100%;
  }

  